<!doctype html>
<html data-ng-app="app">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="df-model-storage.js"></script>
  <script>
    angular.module('app', ['dfModelStorage']);
  </script>
</head>

<body>

  <h1>df-model-storage directive</h1>
  <p>This directive watch a model and serialize it in the session storage. The values will be restored in the page reload.</p>

  <h2>Single field with ng-model</h2>
  <p>If you have a single field with a ng-model present, just add the df-model-storage directive</p>
  <code>&lt;input type="text" <strong>data-ng-model="testValue"</strong> <strong>data-df-model-storage</strong>&gt;</code>
  <p>
    <input type="text" data-ng-model="testValue" data-df-model-storage>
  </p>

  Model <code>testValue</code>:
  <pre>{{testValue|json}}</pre>

  <h2>Complex object</h2>
  <p>If you want to save a more complex model, add the df-model-storage directive with the name of the model as a value</p>

  <pre><code>&lt;form <strong>data-df-model-storage="baseModel"</strong>
	&lt;p>&lt;input type="text" data-ng-model="baseModel.input1">&lt;/p>
	&lt;p>&lt;input type="text" data-ng-model="baseModel.input2">&lt;/p>
&lt;/form></code></pre>

  <form data-df-model-storage="baseModel">
    <p>
      <input type="text" data-ng-model="baseModel.input1">
    </p>
    <p>
      <input type="text" data-ng-model="baseModel.input2">
    </p>
  </form>

  Model <code>baseModel</code>:
  <pre>{{baseModel|json}}</pre>


  <h2>Prefix model name</h2>
  <code>&lt;input type="text" <strong>data-ng-model="testValue"</strong> <strong>data-df-model-storage data-df-prefix="index"</strong>&gt;</code>
  <p>
    <input type="text" data-ng-model="prefixedTestValue" data-df-model-storage data-df-prefix="index">
  </p>

  Model <code>prefixedTestValue</code> with prefixed value:
  <pre>{{prefixedTestValue|json}}</pre>

  <p>Can be used for avoid clashing name, for example the same name in different pages or in a ng-repeat:</p>
  <pre><code>&lt;div data-ng-init="vals = [{val : 'a'}, {val:'b'}, {val:'c'}]">
    &lt;div data-ng-repeat="v in vals">
      &lt;input data-ng-model="v.val" type="text" data-df-model-storage data-df-prefix="{<span>{</span>$index}}">
    &lt;/div>
  &lt;/div></code></pre>
  <div data-ng-init="vals = [{val : 'a'}, {val:'b'}, {val:'c'}]">
    <div data-ng-repeat="v in vals">
      <input data-ng-model="v.val" type="text" data-df-model-storage data-df-prefix="{{$index}}">
    </div>
  </div>
  Model vals:
  <pre>{{vals|json}}</pre>


  <h2>Implementation details and note</h2>
  <p>The key used for saving the values in the session storage is the name of the model. Beware of clashes. You can use the df-prefix attribute for prefixing the model.</p>
  <p>Set some value in the first input field and in the prefixed one, and then go to <a href="prefixed.html">prefixed.html</a> to check the difference.</p>
</body>

</html>