<!doctype html>
<html data-ng-app="app">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="../src/df-model-storage.js"></script>
  <script>
    angular.module('app', ['dfModelStorage']);
  </script>
</head>

<body>
  <h1>Prefix test</h1>

  <h2>Single field with ng-model without prefix</h2>
  <p>If you have set a value in the previous page, you will notice that the value has been restored as they share the same name "testValue".</p>
  <code>&lt;input type="text" <strong>data-ng-model="testValue"</strong> <strong>data-df-model-storage</strong>&gt;</code>
  <p>
    <input type="text" data-ng-model="testValue" data-df-model-storage>
  </p>
  Model <code>testValue:</code>
  <pre>{{testValue|json}}</pre>


  <h2>Prefix model name</h2>
  <p>Here we have prefixed the model name "prefixedTestValue" with "prefixed", in the previous page, the model is prefixed with index, thus no clash is present.</p>
  <code>&lt;input type="text" <strong>data-ng-model="testValue"</strong> <strong>data-df-model-storage data-df-prefix="prefixed"</strong>&gt;</code>
  <p>
    <input type="text" data-ng-model="prefixedTestValue" data-df-model-storage data-df-prefix="prefixed">
  </p>
  Model <code>prefixedTestValue:</code> with prefixed value.
  <pre>{{prefixedTestValue|json}}</pre>

</body>

</html>